<?xml version="1.0"?>

<configuration>
  <system.web>
    <pages validateRequest="true" controlRenderingCompatibilityVersion="4.5" clientIDMode="AutoID" viewStateEncryptionMode="Never"/>
    <compilation debug="false" defaultLanguage="cs" batch="false" optimizeCompilations="false" strict="false" explicit="true" targetFramework="4.5.1">
    </compilation>
    <authentication mode="Windows" />
    <identity impersonate="false" userName="" password="" />
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false" />
      
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en-AU" culture="en-AU" />
    <browserCaps>
      <use var="HTTP_USER_AGENT" as="user_agent" />
      <filter>
        <case match="Windows CE|WinCE" with="%{user_agent}">
          IsMobileDevice = "true"
        </case>
      </filter>
      <case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+)(?'VendorProductToken' &#xA;                      (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))?">
        browser=Gecko
        <filter><case match="(Gecko/[-\d]+)(?'VendorProductToken' &#xA;                  (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))">
            type=${type}
          </case><case><!-- plain Mozilla if no VendorProductToken found -->
            type=Mozilla
          </case></filter>
        frames=true
        tables=true
        cookies=true
        javascript=true
        javaapplets=true
        ecmascriptversion=1.5
        w3cdomversion=1.0
        css1=true
        css2=true
        xml=true
        tagwriter=System.Web.UI.HtmlTextWriter
        <case match="rv:(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
          version=${version}
          majorversion=0${major}
          minorversion=0${minor}
          <case match="^b" with="${letters}">
            beta=true
          </case></case></case>
    </browserCaps>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0" enableVersionHeader="false" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
        <remove name="Documentation" />
      </protocols>
    </webServices>
    <machineKey decryption="AES" decryptionKey="4A3288BA52DF7D2C4CB141DCFB1DED30D1C6C3BB61C4BF38" validationKey="61F547D5687707B435EE30C0F5E4EC887FDBB336C12DFDF6B23BE76887990EEFFD05FF8D4567AB227182291E89A480A29A6CB4D39F914230EF336DBA001FBD6B" />
  </system.web>
</configuration>